.portfolio{
    
    .picture-portfolio{
        display: flex;
        justify-content: center;
        height: 100vh;
        img{
            position: relative;
            height: 850px;
            width: 88%;
        }

    }

    .text-on-picture-portfolio{

        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3rem;
        }
    }

    .gallery-one{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .gallery-box-one{
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            align-items: center;
            
            .gallery-image{
                padding-top: 30px;
                img{
                    height: 560px;
                    width: 530px;

                }
            }
        }
    }

    .gallery-two{
        padding-top: 150px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .gallery-box-two{
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            align-items: center;
            
            .gallery-image{
                padding-top: 30px;
                img{
                    height: 700px;
                    width: 530px;

                }
            }
        }
    }


    .info-home{
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .info-home-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 92%;
            height: 80%; 
            place-items: center;
            background-color: #f7f2f2;
            .portfolio{
                width: 90%;
                display: flex;
                justify-content: center;
                height: 70%;
                align-items: center;
                &:hover{
                    background-color: white;
                    cursor: pointer;
                 }
                .text-portfolio{
                    a{
                        text-decoration: none;
                        font-size: 2rem;
                        color: black;
                        font-weight: bold;
                    }



                   p{
                       
                   }
               }
           }
           .investments{
               width: 90%;
               display: flex;
               justify-content: center;
               height: 70%;
               align-items: center;
               &:hover{
                   background-color: white;
                   cursor: pointer;
                }
                .text-investments{
                    a{
                        text-decoration: none;
                        font-size: 2rem;
                        color: black;
                        font-weight: bold;
                    }

                   p{

                   }
               }
           }
           .contact{
                width: 90%;
                display: flex;
                justify-content: center;
                height: 70%;
                align-items: center;
                &:hover{
                    background-color: white;
                    cursor: pointer;
                 }
               .text-contact{
                    a{
                        text-decoration: none;
                        font-size: 2rem;
                        color: black;
                        font-weight: bold;

                       
                    }

                   p{

                   }
               }
           }
       } 
    }

    .get-started-home{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .image-get-started-home{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
            img{
                width: 100%;
                height: 850px;
            }
            
        }
        .text{
            position: absolute;
            p{
                padding-bottom: 10px;
                color: white;
                display: flex;
                justify-content: center;
            }
            
            h1{
                padding-bottom: 10px;
                display: flex;
                justify-content: center;
                color: white;
            }
            
            a{
                display: flex;
                padding-bottom: 10px;
                justify-content: center;
                color: white;
                text-decoration: none;
                font-size: 1.3rem;
                text-decoration: underline tan;

                &:hover{
                    color: tan;
                    transition: ease-in-out .3s;
                }
            }
        }
    
    }


}